<html>

<head>
  <meta charset="utf-8" />
  <title>IMAGE PAGE</title>
</head>


<style>
  #image_container {
    width: 300px;
    height: 300px;
  }

  .square{
      border:0;
      width:80px;
      padding:0px;
      margin-top: 90px;
      margin-left: calc(50% - 40px);
      margin-left: -webkit-calc(50% - 40px);
      margin-left: -moz-calc(50% - 40px);
    }

  .spin {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:dashed 5px darkblue;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from   {  -webkit-transform: rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg); }
  }
</style>


<script>
let data;

function preview(event) {
  if (document.querySelector("div#image_container img")) {
    document.querySelector("div#image_container *").remove();
  }
    let reader = new FileReader();
    reader.onload = function (event) {
      document.querySelector('img#preview_image').setAttribute("src", event.target.result);
      data = event.target.result.slice(22, event.target.result.length);
    };
    reader.readAsDataURL(event.target.files[0]);
  }

function show() {
  if(document.querySelector("div#image_container img")) {
    document.querySelector("div#image_container *").remove();
  }
  document.querySelector('img#preview_image').setAttribute("src","");
  document.querySelector("div.square").appendChild(document.createElement('div')).classList.add('spin')
  document.querySelector("div.square").appendChild(document.createElement('p')).innerText='Loading...';


  var xmlhttp = new XMLHttpRequest();

  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
      result = xmlhttp.responseText;
      const res = JSON.parse(result);
      if (res.result === "success") {
        let image = new Image();
        image.src = '/images/out.png';
        document.querySelector("div#image_container").appendChild(image);
        document.querySelector("div.square").children[1].remove();
        document.querySelector("div.square *").remove();
      }
      else {
        return;
      }
    }
  };

  xmlhttp.open("POST", "./test", true);
  xmlhttp.setRequestHeader('Content-Type', 'application/json');
  if (typeof data === "undefined") {
    alert("no file")
    return;
  }
  xmlhttp.send(JSON.stringify({ "img": data }));
}
</script>


<body>
  <input type="file" id="real-input" class="image_inputType_file" onchange="preview(event)" accept="img/*" />

  <button onClick="show()">예측</button>
  <div id="image_container"></div>
  <img id='preview_image' />
  <div class="square"></div>
</body>

</html>